<span id="currencies">
  <span data-currency="USD" class="left">USD</span> &#124;
  <span data-currency="CAD" class="right">CAD</span>
</span>

<style>
#currencies {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    color: #808080;
    cursor: pointer;
    vertical-align: middle;
    letter-spacing: 1px;

}
#currencies span {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    padding: 0px 5px;
    font-size: 10px;
}
#currencies .left  {
}

#currencies .right  {
}

#currencies .selected {
    font-weight: bold;
    color: #000;
}
</style>