<!-- MODAL BOX -->
<div id="open-modal" class="modal-window">
    <div class="modal-popup">
        <a href="#modal-close" title="Close" class="modal-close"><i class="fa fa-times"></i></a>

        <div class="section-container">
            <div class="popup-sections col-md-4 col-sm-12">
                <h1>Free Shipping</h1>
                <p>Free standard shipping on all CA and US orders over $49 US! Orders shipping to CA and US always arrive duty free. <br /><a target="_blank" href="https://www.oliveandpiper.com/pages/orders-shipping">More Info <i class="fa fa-angle-right"></i></a></p>
            </div>
            <div class="popup-sections col-md-4 col-sm-12">
                <h1>Satisfaction Guarantee</h1>
                <p>If your jewels don't make you say olive it, you can return them for a full refund within 30 days. Sale items and personalized items are a FINAL SALE. <br /><a target="_blank" href="https://www.oliveandpiper.com/pages/return-exchange-policy">More Info <i class="fa fa-angle-right"></i></a></p>
            </div>
            <div class="popup-sections col-md-4 col-sm-12">
                <h1>Questions?</h1>
                <p>Visit our <a target="_blank" href="https://www.oliveandpiper.com/pages/faqs">FAQs</a>. <a target="_blank" href="https://www.oliveandpiper.com/pages/orders-shipping">Shipping</a> or <a target="_blank" href="">Returns</a> page or get in touch at <br /><a href="mailto:info@oliveandpiper.com">info@oliveandpiper.com</a></p>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL BOX -->
