<!-- SHIPPING DETAILS -->
<div class="shipping-details">
    <div class="container">
        <div class="row shipping-header">
            <div class="col-md-12">
                <h2>Shipping and Returns</h2>
            </div>
        </div>
        <div class="row shipping-content">
            <div class="col-md-6">
                <h3>US & Canada</h3>
                <p>FREE shipping to US and Canada on orders over $49.00 USD*</p>
                <p>In stock items are processed and shipped within 2-3 business days. If your order contains out of stock items, your order will ship in full once all items are available. For more info visit <a href="https://www.oliveandpiper.com/pages/orders-shipping">Orders + Shipping</a></p>
            </div>
            <div class="col-md-6">
                <h3>Return Policy</h3>
                <p>If your jewels don't make you say "olive it," you can return them for a refund or credit within 30 days. <strong>All Black Friday and Cyber Monday sales are FINAL</strong> and cannot be returned. Personalized items are also a final sale.</p>
                <p>For more info see our <a href="https://www.oliveandpiper.com/pages/return-exchange-policy">Return Policy</a>.</p>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container">
    {% section 'related-products' %}
</div> -->
