
<div class="product-page-styled-ig">
    <div class="container">
        <div class="row">
            <div class="page-width col-md-12">
                <div class="title-bar custom-font">
                    <h2>Styled on Instagram</h2>
                    <div class="clear"></div>
                </div>
                <div class="row">
                    <!-- START Yotpo Photo gallery feed Snippet -->
                    <div class="yotpo yotpo-pictures-widget"
                        data-product-id="{{ product.id }}"
                        data-layout="carousel"
                        data-auto-slide="0"
                        data-title="1"
                        data-title-text="STYLED ON INSTAGRAM"
                        data-title-color="#56575f"
                        data-title-alignment="left"
                        data-title-font-size="18"
                        data-title-mobile-font-size="16"
                        data-hover-color="#ffffff"
                        data-hover-opacity="0.8"
                        data-hover-icon="true"
                        data-upload-button="1"
                        data-upload-button-text="Add Your Photo"
                        data-upload-button-background-color="#e5dad2"
                        data-upload-button-text-color="#ffffff"
                        data-upload-button-font-family="Open Sans">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
