<!-- INSTAGRAM HEADER -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="title-bar custom-font instagram-wrapper--header-no-padding">
				<a href="http://www.instagram.com/oliveandpiper" target="_blank">
					<h2>
<i class="fa fa-instagram"></i> Tag #oliveandpiper to be featured</h2>
				</a>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>

<style>
  .yotpo-pictures-gallery-title {display: none;}
</style>
<div class="yotpo yotpo-pictures-widget" 
     data-album-id="5b4f96de4d81833619bcbe17"
     data-layout="num_of_rows"
     data-layout-rows="2"
     data-spacing="0"
     data-title="1"
     data-title-color="#56575f"
     data-title-alignment="center"
     data-title-font-size="20"
     data-title-mobile-font-size="18"
     data-hover-color="#ffffff"
     data-hover-opacity="0.8"
     data-hover-icon="true"
     data-cta-text="SHOP NOW"
     data-cta-color="#e3d4ca"
     data-upload-button="0">
</div>

{% schema %}
{
"name": "Instagram gallery",
"settings": [],
"presets": [
{
"name": "Instagram gallery",
"category": "Yotpo"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}