{% if settings.enable-article-results %}
    {% assign article_search = "article," %}
{% endif %}
{% if settings.enable-product-results %}
    {% assign product_search = "product," %}
{% endif %}
{% if settings.enable-page-results %}
    {% assign page_search = "page," %}
{% endif %}
<div id="top-search-wrapper" class="col-sm-12 col-md-12 col-lg-12">
		<div class="top-search">
			<form id="search-page-form" action="/search">
				<div id="search-wrapper">
					<input type="hidden" name="type" value="{{ article_search }}{{ product_search }}{{  page_search }}" />
					<input id="search_text" name="q" type="text" size="20" placeholder="{{ 'layout.header.search_box_text' | t }}..."/>
					<div class="search_bar--controls">
						<input id="search_submit" type="submit" border="0" value="&#xf002;" />
						<a href="#" class="search-show" title="Search">
							<i class="fa fa-times fa-2x"></i>
						</a>
					</div>
				</div>
			</form>
		</div>
</div>