<!--      WSG SHIP PARTIAL -->
 <div class="wsg-ship-partial" style="display:none;">
   <p class="wsg-ship-title">Your order contains backordered items.</p>
   <p id='wsg-view-items'><a>View Items</a></p>
  <div class="wsg-ship-partial-small">               
    <input type="radio" name="wsg-ship-option" value="Ship Partial"><label>Ship Partial</label>
   </div>
   <div>
    <p>
      Ship all in-stock items now, send the rest when they become available.
    </p>
     </div>
 
  <div class="wsg-ship-partial-small">               
    <input type="radio" name="wsg-ship-option" value="Ship Complete" checked><label>Ship Complete</label>
    <p>
      Wait to send my order until all items are available to ship.
    </p>
  </div>
   <hr>
</div>    

<style>
/*   CUSTOM STYLE FOR SHIP PARTIAL */
  #wsg-view-items {
    cursor: pointer;
  }
  .wsg-ship-partial {
    text-align: left;
	  /* margin-left: 50%; */
  }
  .wsg-ship-partial label:last-of-type{
    margin-top: 10px;
  }
  .wsg-ship-title{
  	font-size: 1.1em;
    text-align: left;
    font-weight: bold;
    margin-bottom: 0px;
  }
  
  .wsg-ship-partial label {
    clear: none;
    display: inline-block;
    margin-left: 2.5%;
    margin-bottom: 0;
  }

  .wsg-ship-partial input[type=radio],
  input.radio {
    clear: none;  
  }  
</style>

