/* Undo background and gradient */
body, #main, #container, #header, #footer {
  background: #fff !important;
}

/* Undo overview background and borders */
#main #overview {
  background: #fff;
  border: none;
}
#main #overview > * {
  border: none;
}
#main #thumbs div {
  border: none;
}

/* Insert your own logo (upload separately) */
#logo { 
  height: 160px;
  background: url(//cdn.shopify.com/s/files/1/0171/4242/t/22/assets/logo_compact.png?17173431993862599171) center no-repeat;
}

#header > h1{
  text-align:center;
}

/* Hide the name of the store because we got this nifty logo now */

#header > h1 span.title {
  display:none;
}

#cost, #order-num{
	color: #333;
}