/* Contaner with main image and selectors container */
div.MagicToolboxContainer {
    text-align: center;
    width:100%;
}

div.MagicToolboxContainer img {
    max-width:100%;
}

/* Main image styles */
div.MagicToolboxContainer a {
    margin: 0 auto;
}

@media only screen and (max-width: 767px) {
.MagicToolboxMessage { display:none; }
}/* Container with selectors*/
div.MagicToolboxSelectorsContainer {
  clear: both;
  margin:10px 0;
}

/* Selectors styles */
div.MagicToolboxSelectorsContainer a {
  display: inline-block;
  margin: 4px;
  line-height: 0px;
  font-size: 0px;
}

/* Align images */
.MagicToolboxSelectorsContainer a {
  text-align: center;
  /* line-height: 100%; */
}
.MagicToolboxSelectorsContainer a:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.MagicToolboxSelectorsContainer a > img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.MagicToolboxContainer.layout-left .MagicToolboxSelectorsContainer a,
.MagicToolboxContainer.layout-right .MagicToolboxSelectorsContainer a
{ margin-top:0px; }

.MagicToolboxContainer.layout-left.thumbnail-size-pico { padding-left: 16px; }
.MagicToolboxContainer.layout-left.thumbnail-size-icon { padding-left: 32px; }
.MagicToolboxContainer.layout-left.thumbnail-size-thumb { padding-left: 50px; }
.MagicToolboxContainer.layout-left.thumbnail-size-small { padding-left: 100px; }
.MagicToolboxContainer.layout-left.thumbnail-size-compact { padding-left: 160px; }
.MagicToolboxContainer.layout-left.thumbnail-size-medium { padding-left: 240px; }
.MagicToolboxContainer.no-thumbnails { padding-left: 0px; }
.MagicToolboxContainer.layout-left.thumbnail-size-pico .MagicToolboxSelectorsContainer { width: 16px; margin-left: -16px; }
.MagicToolboxContainer.layout-left.thumbnail-size-icon .MagicToolboxSelectorsContainer { width: 32px; margin-left: -32px; }
.MagicToolboxContainer.layout-left.thumbnail-size-thumb .MagicToolboxSelectorsContainer { width: 50px; margin-left: -50px; }
.MagicToolboxContainer.layout-left.thumbnail-size-small .MagicToolboxSelectorsContainer { width: 100px; margin-left: -100px; }
.MagicToolboxContainer.layout-left.thumbnail-size-compact .MagicToolboxSelectorsContainer { width: 160px; margin-left: -160px; }
.MagicToolboxContainer.layout-left.thumbnail-size-medium .MagicToolboxSelectorsContainer { width: 240px; margin-left: -240px; }
.MagicToolboxContainer.layout-left .MagicToolboxSelectorsContainer { float: left; }
.MagicToolboxContainer.layout-left .MagicToolboxSlides { margin-left: 10px; }
.MagicToolboxContainer.layout-left .MagicToolboxSelectorsContainer a { width: 100%; }

.MagicToolboxContainer.layout-right.thumbnail-size-pico { padding-right: 16px; }
.MagicToolboxContainer.layout-right.thumbnail-size-icon { padding-right: 32px; }
.MagicToolboxContainer.layout-right.thumbnail-size-thumb { padding-right: 50px; }
.MagicToolboxContainer.layout-right.thumbnail-size-small { padding-right: 100px; }
.MagicToolboxContainer.layout-right.thumbnail-size-compact { padding-right: 160px; }
.MagicToolboxContainer.layout-right.thumbnail-size-medium { padding-right: 240px; }
.MagicToolboxContainer.no-thumbnails { padding-right: 0px; }
.MagicToolboxContainer.layout-right.thumbnail-size-pico .MagicToolboxSelectorsContainer { width: 16px; margin-right: -16px; }
.MagicToolboxContainer.layout-right.thumbnail-size-icon .MagicToolboxSelectorsContainer { width: 32px; margin-right: -32px; }
.MagicToolboxContainer.layout-right.thumbnail-size-thumb .MagicToolboxSelectorsContainer { width: 50px; margin-right: -50px; }
.MagicToolboxContainer.layout-right.thumbnail-size-small .MagicToolboxSelectorsContainer { width: 100px; margin-right: -100px; }
.MagicToolboxContainer.layout-right.thumbnail-size-compact .MagicToolboxSelectorsContainer { width: 160px; margin-right: -160px; }
.MagicToolboxContainer.layout-right.thumbnail-size-medium .MagicToolboxSelectorsContainer { width: 240px; margin-right: -240px; }
.MagicToolboxContainer.layout-right .MagicToolboxSelectorsContainer { float: right; }
.MagicToolboxContainer.layout-right .MagicToolboxSlides { margin-right: 10px; }
.MagicToolboxContainer.layout-right .MagicToolboxSelectorsContainer a { width: 100%; }

.MagicToolboxSlide { display: none; }
.MagicToolboxSlide.active-magic-slide { display: block; }

.mz-thumb:hover:not(.mz-thumb-selected) img {
  -webkit-filter: none;
  filter: none;
}
.mz-thumb-selected img {
  -webkit-filter: none;
  filter: none;
}
.no-cssfilters-magic .mz-thumb {
  background: none;
}
.no-cssfilters-magic .mz-thumb:hover:not(.mz-thumb-selected) img {
  opacity: 1;
  filter: none;
}
.no-cssfilters-magic .mz-thumb-selected img {
  opacity: 1;
  filter: none;
}

.active-magic-selector img {
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
}
.no-cssfilters-magic .mz-thumb:hover:not(.active-magic-selector) img {
  opacity: .75;
  filter: alpha(opacity=75);
}
.no-cssfilters-magic .active-magic-selector img {
  opacity: .6;
  filter: alpha(opacity=60);
}

.MagicToolboxSlides { position: relative; }
.MagicToolboxSlides .MagicToolboxSlides-arrow {
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  z-index: 11;
  font: 900 18px/32px 'magictoolbox-thin' !important;
  background: rgba(255,255,255,0.3);
  color: rgba(0,0,0,0.5);
  width: 32px;
  height: 32px;
}
.MagicToolboxSlides .MagicToolboxSlides-arrow.magic-prev { left: 0px; }
.MagicToolboxSlides .MagicToolboxSlides-arrow.magic-next { right: 0px; }
.MagicToolboxSlides .MagicToolboxSlides-arrow.magic-prev:before { content: "\a002"; }
.MagicToolboxSlides .MagicToolboxSlides-arrow.magic-next:before { content: "\a003"; }

@media only screen and (max-width: 767px) {
  
  .MagicToolboxContainer {
    padding-left: 0px !important;
    padding-right: 0px !important;
    display: flex;
    flex-direction: column;
  }
  .MagicToolboxSlides {
    order: 1;
  }
  .MagicToolboxContainer .MagicToolboxSelectorsContainer {
    float: none !important;
    margin: 20px 0 !important;
    width: auto !important;
    order: 2;
  }
  .MagicToolboxContainer.layout-right .MagicToolboxSelectorsContainer a,
  .MagicToolboxContainer.layout-left .MagicToolboxSelectorsContainer a {
    width: auto;
  }

  .MagicToolboxSelectorsContainer.no-magic-scroll a img { display: none; }
  .MagicToolboxSelectorsContainer.no-magic-scroll { font-size:0px; }
  .MagicToolboxSelectorsContainer.no-magic-scroll a {
      width: 12px !important;
      height: 12px !important;
      border-radius: 100% !important;
      background: none repeat scroll 0 0 #aaa !important;
      margin: 3px !important;
      cursor: pointer !important;
      display: inline-block !important;
      position: relative !important;
      text-indent: -9999px !important;
      vertical-align: middle !important;
      font-size: 0px !important;
      line-height: 0px !important;
  } 

  .MagicToolboxSelectorsContainer.no-magic-scroll a.active-magic-selector:before,
  .MagicToolboxSelectorsContainer.no-magic-scroll a:hover:before
   {
      width: 10px !important;
      height: 10px !important;
      border: 1px solid transparent !important;
      border-radius: 100% !important;
      margin: 1px !important;
      content: '' !important;
      position: relative !important;
      display: block !important;
      text-indent: -9999px !important;
      background: #fff !important;
  }  
  
}

@media only screen and (min-width: 768px) {
  a[data-slide-id^=video] {
      position: relative;
  }
  a[data-slide-id^=video]:before {
      content: '';
      position: absolute;
      color: #fff;
      text-shadow: 0px 1px 10px #000;
      top: 50% !important;
      left: 50% !important;
      display: inline-block;
      transform: translateY(-50%) translateX(-50%) !important;
      -webkit-transform: translateY(-50%) translateX(-50%) !important;
      z-index: 100;
      width: 36px !important;
      height: 36px !important;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-color: rgba(0,0,0,0.6) !important;
      background-size: 50%;
      background-position: center center;
      border: 2px solid rgba(255,255,255,0.8);
      z-index:1;
  }
  a[data-slide-id^=video]:after {
      position: absolute;
      content: '';
      width: 12px;
      height: 16px;
      border-top: 8px solid transparent;
      border-left: 12px solid rgba(255,255,255,0.8);
      border-bottom: 8px solid transparent;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      -webkit-transform: translateY(-50%) translateX(-50%);
      margin-left: 1px;
      box-sizing: border-box !important;
      z-index:2;
  }
  a[data-slide-id^=video]:hover:before {
      background-color: rgba(0,0,0,0.7) !important;
      border-color:rgba(255,255,255,1);
  }
  a[data-slide-id^=video]:hover:after {
      border-left-color: rgba(255,255,255,1);
  }
}
.magic-video-container {
   position: relative;
   overflow: hidden;
   max-width: 100%;
   padding-bottom: 56.25%;
   height: 0;
   height: auto;
}
.magic-video-container iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100% !important;
   height: 100% !important;
}

.magic-video-container .video-wrapper {
  padding:0px !important;
  height:auto !important;
  position:static !important;
}