{% layout 'full-width' %}

<!-- /templates/page.full-width.liquid -->
<div class="grid">

  <div class="grid__item">

    <h1>{{ page.title }}</h1>

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">
      {{ page.content }}

      <div class="trustbox">
        <!-- TrustBox widget -->
        <div class="trustpilot-widget" data-locale="en-US" data-template-id="53aa8912dec7e10d38f59f36" data-businessunit-id="58138b4f0000ff000596b1bf" data-style-height="130px" data-style-width="100%" data-theme="light" data-stars="1,2,3,4,5">
          <a href="https://www.trustpilot.com/review/oliveandpiper.com" target="_blank">Trustpilot</a>
        </div>
        <!-- End TrustBox widget -->
      </div>
    </div>

  </div>

</div>

{% comment %}
  Script for Accordion
{% endcomment %}
{{ 'accordion.js' | asset_url | script_tag }}
