<!-- /templates/page.liquid -->
<div class="grid">

  <div class="grid__item">

    <h1 class="text-center playfair-header">{{ page.title }}</h1>

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">
      {{ page.content }}
    </div>

  </div>

</div>

{% comment %}
  Script for Accordion
{% endcomment %}
{{ 'accordion.js' | asset_url | script_tag }}

<style>
h1 { text-align: center;}
.main-content {
  max-width: none !important;
}
.wrapper {
  padding: 0 40px !important;
}
</style>